<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.PeopleDAO">

	<resultMap type="People" id="people">
		<id column="id" property="id" />
		<result column="people_name" property="name" />
		<result column="people_count" property="count" />
		<result column="people_phone" property="phone" />
	 
	</resultMap>

	<insert id="insertPeople" parameterType="People" keyProperty="id">
		insert into people(people_name,people_count,people_phone)
		values
		(
		#{name},
		#{count},
		#{phone})
	</insert>

	<select id="showPeopleList" parameterType="int" resultMap="people">
		select * from people  order by id desc limit #{page},10
	</select>
	
	<select id="pageCount" parameterType="int" resultType="int">
		select count(*) from people
	</select>

	<delete id="delPeople" parameterType="int" >
		delete from people where id=#{id}
	</delete>

	<select id="getPeopleById" parameterType="People" resultMap="people">
		select * from people  where id = #{id}
	</select>
	
	<update id="updatePeople"  parameterType="People" >
	</update>
	
</mapper>
